<div class="standard-form shadowdark-sounds-settings">

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-ignite"
    title="Light Source: Ignite"
    hint="Plays when a character ignites a light source."
    prefix="torch-ignite"
    enabled=torchIgniteEnabled
    sound=torchIgniteSound
    volume=torchIgniteVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-douse"
    title="Light Source: Douse"
    hint="Plays when a character douses a light source."
    prefix="torch-douse"
    enabled=torchDouseEnabled
    sound=torchDouseSound
    volume=torchDouseVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-drop"
    title="Light Source: Drop"
    hint="Plays when a character drops a light source to ground."
    prefix="torch-drop"
    enabled=torchDropEnabled
    sound=torchDropSound
    volume=torchDropVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-pickup"
    title="Light Source: Pickup"
    hint="Plays when a character picks up a light source from ground."
    prefix="torch-pickup"
    enabled=torchPickupEnabled
    sound=torchPickupSound
    volume=torchPickupVolume
    }}

</div>