<div class="standard-form shadowdark-sounds-settings">

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-ignite"
    title=torchIgniteTitle
    hint=torchIgniteHint
    prefix="torch-ignite"
    enabled=torchIgniteEnabled
    sound=torchIgniteSound
    volume=torchIgniteVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-douse"
    title=torchDouseTitle
    hint=torchDouseHint
    prefix="torch-douse"
    enabled=torchDouseEnabled
    sound=torchDouseSound
    volume=torchDouseVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-drop"
    title=torchDropTitle
    hint=torchDropHint
    prefix="torch-drop"
    enabled=torchDropEnabled
    sound=torchDropSound
    volume=torchDropVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-pickup"
    title=torchPickupTitle
    hint=torchPickupHint
    prefix="torch-pickup"
    enabled=torchPickupEnabled
    sound=torchPickupSound
    volume=torchPickupVolume
    }}

    {{> "modules/shadowdark-sounds/templates/partials/sound-effect-fieldset.hbs"
    id="sd-sounds-torch-expire"
    title=torchExpireTitle
    hint=torchExpireHint
    prefix="torch-expire"
    enabled=torchExpireEnabled
    sound=torchExpireSound
    volume=torchExpireVolume
    }}

</div>